// .site-header {
// 	background-color: $blue;
// 	text-align: center;
// 	line-height: 1;
// }

.site-title {
	color: $orange;
}

.site-branding {
	img{
		float: left;		
		width: 90px;
		margin: 12px 20px;
	}
}

.site-nav {
	position: absolute;
	ul{
		-webkit-padding-start: 0;
	}	
	.active {
		color: $lightblue;
		&:hover {
			color: lighten($lightblue, 35);
		}
	}
	font-size: 14px;
}


