// .site-header {
// 	background-color: $blue;
// 	text-align: center;
// 	line-height: 1;
// }

.site-title {
	color: $orange;
}

.site-branding {
	img{
		float: left;		
		width: 90px;
		margin: 12px 20px;
	}
}

.site-nav {
	position: absolute;
	ul{
		-webkit-padding-start: 0;
	}	
	.active {
		color: $lightblue;
		&:hover {
			color: lighten($lightblue, 35);
		}
	}
	font-size: 14px;
}

.header-wrap {
	// @include container(70%);
	//border: 1px solid rgb(0, 113, 128);
	color: white;
	clear: both;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin: 0 auto;
	width: 80%;
	//background: pink;
	h1 {
		margin-bottom: 0;
	}
	h2 {
		font-size: 1.2em;
		margin-top: 0;
	}
}

.badges {

	background: linear-gradient(180deg, rgb(204, 0, 255) 0%, rgb(79, 54, 190) 10%, rgb(3, 3, 95) 30%, rgb(3, 3, 95) 70%,  rgb(79, 54, 190) 90%, rgb(204, 0, 255) 100%);
	text-align: center;
	ul {
		margin-top: 0;
		padding: 6px 0;
		-webkit-padding-start: 0;
		box-shadow: 0 6px 10px rgba(255, 0, 191, 0.3);
	}
	li {
		
		color: darken($orange, 1);
		display: inline;
		padding: 0 20px;
	}
}
