// Susy setup
$susy: (
	columns: 12,
	gutters: 1/6,
	global-box-sizing: border-box
);

.wrap {
	@include container(80%);
}

.header-nav {
	@include susy-breakpoint($medium) {
		@include span(10);
		padding-top: 22px;
	}
}

.badges {

	background: $blue;
	text-align: center;
	ul {
		margin-top: 0;
		-webkit-padding-start: 0;
	}
	li {
		
		color: darken($orange, 20);
		display: inline;
		padding: 0 20px;
	}
}
.features {
	@include clearfix;
}

// .features .feature {

// 	@include susy-breakpoint($medium $large - 1) {
// 		@include span(6);

// 		&:nth-of-type(even) {
// 			@include last;
// 		}
// 	}

// 	@include susy-breakpoint($large) {
// 		@include span(3);

// 		&:last-child {
// 			@include last;
// 		}
// 	}
// }
#edu-header {
	padding-bottom: 30px;
	//color: brown;
	svg {
		padding-left: 20px;
	}
}


.education {
	line-height: .5;
	h3 {
		color: $lightblue;
	}
}

.site-inner {
	//padding-top: 10px;
	//background: rgb(174, 199, 245);
}

.content {

	@include susy-breakpoint($large) {
		@include span(8);
	}
}

.sidebar {
	color: darken($lightblue, 20);
	text-align: center;
	@include susy-breakpoint($large) {
		@include span(4);
		@include last;
	}
	img, svg {
		padding-top: 30px;
		max-width: 140px;
	}
}